/* .container-fluid {
    overflow: hidden;
   width: 400px;
    margin: auto;
  }

  
  } */

  .navbar{
    font-size: large;
    
    
  }

  .nav-link{
    color: #463f3a;
  }

  .nav-link:hover {
    color: #e0afa0;
  }

.img-fluid{
    width:100%;
    height: 600px;
}

.img-product{
    width: 62%;
    height: 62%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
}

.info{
    text-align: center;
    color: #463f3a;
}

.row{
    margin-top: 30px;
}

.card{

    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 75%;
    border-radius: 0px 0px, 500px, 500px;
    border-width: 5px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    z-index: 0;
    margin-top: 50px;
    color: #463f3a;
    background-color: #e0afa0;

}

.contact_background{
    padding-left: 30px;
}

#btn_submit_row
{
    margin-top: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
 
}

.btn_submit
{
  
    background-color: #bcb8b1;
    border-color: #8a817c;
    color: #463f3a;
}

.alert {
    width:40%;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }


.badge-mine-2 {
    color: white;
    background-color: rgb(240, 152, 167);
    margin-bottom: 10px;
 }

 .fixed-bottom{
    margin-bottom: 20px;
    position: absolute;
    width: 40%;
    margin-left: 110px;
    
    

 }


 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .container-fluid {
        flex-direction: column;
        text-align: center;
    }

    .sale{
        width: 40%;
        height: 20%;
        
    }

    .fixed-bottom{
        margin-bottom: -100px;
        margin-left: 40px;
    }

    .sr-only{
        font-size: 5px;
    }
  }